---
import Footer from '@/components/Footer.astro';
import Navbar from '@/components/Navbar';
import { useTranslations } from '@/i18n';

type Props = {
  bilingual?: boolean;
  meta?: {
    title?: string;
    description?: string;
    author?: string;
    keywords?: string[];
  };
};

const { altLanguage, resolvedLanguage, t } = useTranslations(Astro.url);

const { bilingual, meta } = Astro.props;

const path = Astro.url.pathname.replace(/^(\/en|\/fr)/, '');
---

<!doctype html>
<html lang={resolvedLanguage}>
  <head>
    <meta charset="UTF-8" />
    <title>{meta?.title ?? t('platform.title')}</title>
    <meta name="description" content={meta?.description ?? t('platform.description')} />
    <meta name="viewport" content="width=device-width" />
    {meta?.author && <meta name="author" content={meta.author} />}
    {meta?.keywords && <meta name="keywords" content={meta.keywords.join(', ')} />}
    <meta property="og:title" content={meta?.title ?? t('platform.title')} />
    <meta property="og:description" content={meta?.description ?? t('platform.description')} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={new URL(Astro.url.pathname, Astro.site)} />
    {
      bilingual && (
        <>
          <meta property="og:locale" content={resolvedLanguage} />
          <meta property="og:locale:alternate" content={altLanguage} />
          <link rel="alternate" href={new URL(`/en${path}`, Astro.site)} hreflang="en" />
          <link rel="alternate" href={new URL(`/fr${path}`, Astro.site)} hreflang="fr" />
        </>
      )
    }
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <!-- prettier-ignore -->
    <script defer data-domain="opendatacapture.org" src="http://analytics.douglasneuroinformatics.ca/js/script.js"></script>
  </head>
  <body class="flex h-screen flex-col scroll-smooth bg-slate-100 text-slate-900 dark:bg-slate-900 dark:text-slate-100">
    <Navbar client:load url={Astro.url} />
    <main class="container pb-8 pt-24">
      <slot />
    </main>
    <Footer />
  </body>
</html>
