---
import { Image } from 'astro:assets';
import hero from '@/assets/hero.svg';
import { useTranslations } from '@/i18n';
import Page from '@/layouts/Page.astro';
import Section from '@/layouts/Section.astro';
import type { Language } from '@ddcp/types';

const { resolvedLanguage, t } = useTranslations(Astro.url);

const screenshots = {
  en: import.meta.glob('../../assets/screenshots/en/*.png', { import: 'default' }),
  fr: import.meta.glob('../../assets/screenshots/fr/*.png', { import: 'default' })
};

const resolveScreenshot = (filename: string, language: Language): Promise<ImageMetadata> => {
  return new Promise((resolve, reject) => {
    for (const filepath in screenshots[language]) {
      if (filepath.split('/').at(-1) === filename) {
        resolve(screenshots[language][filepath]() as Promise<ImageMetadata>);
      }
    }
    reject(new Error(`Failed to resolve screenshot '${filename}' for language '${language}'`));
  });
};

const addVisit = await resolveScreenshot('add-visit.png', resolvedLanguage);
const viewSubjects = await resolveScreenshot('view-subjects.png', resolvedLanguage);

export const getStaticPaths = () => {
  return [{ params: { locale: 'en' } }, { params: { locale: 'fr' } }];
};
---

<Page bilingual>
  <Section class="grid grid-cols-12 gap-8 text-center lg:text-left">
    <div class="col-span-12 flex flex-col justify-center lg:col-span-6 xl:col-span-7">
      <h1 class="text-3xl font-bold tracking-tight text-slate-900 dark:text-slate-100 md:text-4xl xl:text-5xl">
        {t('landing.hero.heading')}
      </h1>
      <p class="mt-3 text-slate-600 dark:text-slate-300 md:text-lg">
        {t('landing.hero.subheading')}
      </p>
      <div class="mt-5 flex justify-center gap-3 lg:justify-start">
        <button
          class="text-md flex items-center justify-center rounded-md bg-slate-800 px-6 py-2 font-medium text-slate-100 shadow-md hover:bg-slate-700 focus:outline-none disabled:cursor-not-allowed disabled:opacity-70 dark:bg-sky-700 dark:hover:bg-sky-600"
        >
          {t('landing.hero.viewDemo')}
        </button>
        <button
          class="text-md flex items-center justify-center rounded-md border bg-inherit px-6 py-2 font-medium shadow-md focus:outline-none disabled:cursor-not-allowed disabled:opacity-70"
        >
          {t('landing.hero.learnMore')}
        </button>
      </div>
    </div>
    <div class="hidden lg:col-span-6 lg:flex lg:items-center lg:justify-center xl:col-span-5">
      <Image alt={t('landing.hero.happyPerson')} class="rounded-md brightness-90" src={hero} />
    </div>
  </Section>
  <Section class="grid grid-cols-2 gap-8">
    <div class="flex flex-col justify-center">
      <span class="text-sm font-semibold uppercase tracking-wide">{t('landing.addVisit.subheading')}</span>
      <h2 class="mt-3 text-3xl font-extrabold">{t('landing.addVisit.heading')}</h2>
      <p class="mt-6">
        {t('landing.addVisit.description')}
      </p>
    </div>
    <div class="flex flex-col items-center justify-center">
      <Image alt={t('landing.dataManagement.viewSubjectsScreenshot')} src={addVisit} />
    </div>
  </Section>
  <Section class="grid grid-cols-2 gap-8">
    <div class="flex flex-col justify-center">
      <h2 class="text-sm font-semibold uppercase tracking-wide">{t('landing.dataManagement.heading')}</h2>
      <p class="mt-3 text-3xl font-extrabold">{t('landing.dataManagement.subheading')}</p>
      <p class="mt-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum laudantium assumenda necessitatibus dolorum vel
        quis? Omnis vel minima quos voluptates quia cum sunt officia at sequi! Incidunt est ab eligendi in omnis
        temporibus itaque non porro fuga, doloribus numquam minus consequuntur hic quis! Maiores odit mollitia
        recusandae molestiae quidem! Laudantium!
      </p>
    </div>
    <div class="flex flex-col items-center justify-center">
      <Image alt={t('landing.dataManagement.viewSubjectsScreenshot')} src={viewSubjects} />
    </div>
  </Section>
  <Section>
    <h1>Testimonials</h1>
  </Section>
</Page>
