---
import { useTranslations } from '@/i18n';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

type Props = {
  author: CollectionEntry<'team'>;
  datePublished: Date;
  readingTime: number;
  className?: string;
};

const { author, datePublished, readingTime, className } = Astro.props;
const { resolvedLanguage } = useTranslations(Astro.url);
---

<div class:list={['flex items-center', className]}>
  <div class="flex-shrink-0">
    <span class="sr-only">{author.data.fullName}</span>
    <Image alt={author.data.fullName} class="h-10 w-10 rounded-full" src={author.data.image} />
  </div>
  <div class="ml-3">
    <p class="text-sm font-medium">{`${author.data.fullName}${author.data.suffix ? `, ${author.data.suffix}` : ''}`}</p>
    <div class="flex space-x-1 text-sm text-slate-700 dark:text-slate-300">
      <time datetime={datePublished.toISOString()}>
        {
          datePublished.toLocaleDateString(resolvedLanguage, {
            dateStyle: 'long'
          })
        }
      </time>
      <span aria-hidden="true">&middot;</span>
      <span>{Math.round(readingTime)} min read</span>
    </div>
  </div>
</div>
